/* Kofi */

img.kofiimg {
    display: initial!important;
    vertical-align: middle;
    height: 13px!important;
    width: 20px!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    border: none;
    margin-top: 0;
    margin-right: 5px!important;
    margin-left: 0!important;
    margin-bottom: 3px!important;
    content: url('https://storage.ko-fi.com/cdn/cup-border.png')
}

.kofiimg:after {
    vertical-align: middle;
    height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    margin-top: 0;
    margin-right: 6px;
    margin-left: 0;
    margin-bottom: 4px!important;
    content: url('https://storage.ko-fi.com/cdn/whitelogo.svg')
}

.btn-container {
    display: inline-block!important;
    white-space: nowrap;
    min-width: 160px
}

span.kofitext {
    color: #fff !important;
    letter-spacing: -0.15px!important;
    text-wrap: none;
    vertical-align: middle;
    line-height: 33px !important;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}

.kofitext a {
    color: #fff !important;
    text-decoration: none !important;
}

.kofitext a:hover {
    color: #fff !important;
    text-decoration: none
}

a.kofi-button {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    line-height: 36px!important;
    min-width: 150px;
    display: inline-block!important;
    background-color: #29abe0;
    padding: 2px 12px !important;
    text-align: center !important;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    overflow-wrap: break-word;
    vertical-align: middle;
    border: 0 none #fff !important;
    font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif !important;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700!important;
    font-size: 14px !important
}

a.kofi-button:visited {
    color: #fff !important;
    text-decoration: none !important
}

a.kofi-button:hover {
    opacity: .85;
    color: #f5f5f5 !important;
    text-decoration: none !important
}

a.kofi-button:active {
    color: #f5f5f5 !important;
    text-decoration: none !important
}

.kofitext img.kofiimg {
    height: 15px!important;
    width: 22px!important;
    display: initial;
    animation: kofi-wiggle 3s infinite;
}

@keyframes kofi-wiggle {
    0% {
        transform: rotate(0) scale(1)
    }
    60% {
        transform: rotate(0) scale(1)
    }
    75% {
        transform: rotate(0) scale(1.12)
    }
    80% {
        transform: rotate(0) scale(1.1)
    }
    84% {
        transform: rotate(-10deg) scale(1.1)
    }
    88% {
        transform: rotate(10deg) scale(1.1)
    }
    92% {
        transform: rotate(-10deg) scale(1.1)
    }
    96% {
        transform: rotate(10deg) scale(1.1)
    }
    100% {
        transform: rotate(0) scale(1)
    }
}

/* DPlus Party */

:root {
    --chat-width: 300px;
    --toggle-width: 30px;
    --z-Index: 9999999999;
}

.selectable {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#dplus-chat {
    background-color: #131313;
    width: var(--chat-width);
    position: fixed;
    height: 100%;
    right: 0;
    z-index:  var(--z-Index);
    transition-duration: 0.2s;
}

#dplus-chat>* {
    transition-duration: 0.2s;
}

#chat-toggle {
    background-color: #131313;
    position: fixed;
    right: calc(var(--chat-width) - 5px);
    width: var(--toggle-width);
    height: 60px;
    margin: calc(50vh - 30px) 0;
    border-radius: 5px;
}

#chat-toggle:hover {
    background-color: #252525;
}

#chat-toggle svg {
    fill: #4b4b4b;
    transition-duration: 0.2s;
}

#chat-toggle:hover svg {
    fill: #eceff1;
}

#chat-show {
    margin: 18px 3px;
    display: none;
}

#chat-hide {
    margin: 18px 0;
    display: block;
}

.dp-lh {
    float: left;
}

.dp-rh {
    float: right;
}

.chat-active {
    position: absolute !important;
    top: 0px !important;
    right: var(--chat-width) !important;
    left: 0px !important;
    z-index: 1 !important;
}

.video-resize {
    width: calc(100% - var(--chat-width)) !important;
}

#chat-header {
    height: 40px;
    width: 100%;
    display: flex;
}

.dplus-title {
    margin: 10px 5px;
    color: #5784a2;
    font-weight: bold;
}

#p-container {
    margin: 10px 5px;
    color: #4b4b4b;
    width: 144px;
    text-align: right;
}

#chat-box {
    background-color: #131313;
    height: calc(100% - 155px);
    position: relative;
    width: 100%;
}

#chat-footer {
    height: 115px;
    width: 100%;
}

#chat-user-info {
    padding: 5px 0;
    height: 75px;
    background-color: #0a0a0a;
    overflow-x: hidden;
}

#chat-username {
    margin: 5px 0px 10px 5px;
    height: 27px;
    width: calc(100% - 39px);
    background-color: #0a0a0a;
}

#chat-username::placeholder {
    font-size: small;
}

#save-button {
    background-color: #0a0a0a;
}

#chat-messages {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}

.chat-message-remote {
    margin: 5px calc(30% - 5px) 5px 5px;
    background: #252525;
    color: #858585;
    padding: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.chat-message-user {
    margin: 5px 5px 5px calc(30% - 5px);
    background: #5784a2;
    color: #eceff1;
    padding: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.chat-user {
    color: #eceff1;
    font-size: 12px;
}

.chat-action {
    background: #0a0a0a;
    color: #4b4b4b;
    padding: 10px;
    overflow-wrap: break-word;
}

#chat-send {
    margin: 10px 0px 10px 5px;
    height: 27px;
    width: 100%;
}

.input {
    resize: none;
    color: #4b4b4b;
    background-color: #131313;
    border-bottom: 3px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #4b4b4b;
}

.input:focus {
    border-bottom: 3px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #5784a2;
    outline: none;
}

.chat-btn {
    background-color: #131313;
    border: none;
    padding: 0px;
    margin: 5px;
}

.chat-btn svg {
    fill: #4b4b4b;
    transition-duration: 0.2s;
}

.chat-btn:hover svg {
    fill: #eceff1;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #555555;
}


::-webkit-scrollbar-thumb:hover {
    background: #888888;
}